body {
    background: rgb(236, 236, 129);
    font-family: 'Arial';
    text-shadow: 1px 1px 10px rgb(77, 76, 76);
  }
  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  .first ol {
    font-weight: 1000px;
  }
  
  .box {
    display: flex;
    margin: 3em;
  }
  
  .part {
    width: 120px;
    height: 110px;
    margin: 3em;
  }
  
  @keyframes box1 {
    100% {
      transform: skewX(-30deg);
    }
  
    50% {
      transform: skewX(30deg);
    }
  
    0% {
      transform: skewX(-30deg);
    }
  }
  
  .box1 {
    background-color: #d58318;
    animation: box1 2s infinite;
  }
  
  @keyframes box2 {
    100% {
      transform: skewY(30deg);
    }
  
    50% {
      transform: skewY(-30deg);
    }
  
    0% {
      transform: skewY(30deg);
    }
  }
  
  .box2 {
    background-color: #16ace7;
    animation: box2 3s infinite;
  }
  
  @keyframes box3 {
    100% {
      transform: skewX(-30deg);
    }
  
    50% {
      transform: skewX(30deg);
    }
  
    0% {
      transform: skewX(-30deg);
    }
  }
  
  .box3 {
    background-color: #16a85f;
    animation: box3 4s infinite;
  }
  
  
   @keyframes box4 {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .box4 {
    background-color: #361163;
    animation: box4 3s infinite;
  }
  


  @keyframes box51 {
    50% {
      transform: scaleY(0.5);
    }
  }
  
  .box51 {
    background-color: #240f84;
    animation: box51 3s infinite;
  }
  
  @keyframes box52 {
    50% {
      transform: scaleX(0.5);
    }
  }
  
  .box52 {
    background-color: #adde0c;
    animation: box52 2s infinite;
  }
  
  @keyframes box53 {
    50% {
      transform: rotate(110deg);
    }
  }
  
  .box53 {
    background-color: #dac613;
    animation: box53 1s infinite;
  }
  